body{
    background-color: rgb(173, 247, 190);
    text-align: center;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    color:maroon;
    text-decoration: none;
}

a:hover{
    color:whitesmoke;
}

main{
    text-align: left;
    /* margin-left: 20%;
    margin-right: 20%; */
    max-width: 1200px;
    width: 90%;
    margin:0 auto;
}

h2{
    text-align: center;
}

img{
    width:80%
}

figure{
    text-align: center;
}