body{
    background-color: #d9dfdb;
}
h1{
    font-size:40px;
}
hr{
    height:10px;
    background-color: black;
}
a{
    text-decoration: none;
    color:black
}
a:visited{
    color:black;
}
a:hover{
    color:blue;
}
.container{
    display:flex;
    gap:35px;
    align-items: center;
}
.container img{
    width:120px;
    height:120px;
    margin-left: 20px;
}
.headerText{
    margin-left: 5px;
    margin-top: 0px;
    float:left;
}
.hero-img{
    width:80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.welcome{
    padding-left:125px;
}
nav a{
    padding: 60px;
}
nav{
    text-align: center;
}
main{
    padding-left:40px;
}
footer{
    padding-left:40px;
}
.portfolio{
    display:grid;
    grid-template-columns: auto auto auto;
    gap:2px;
}
.photo img{
    width:100%;
    height:auto;
    display:block;
    object-fit: cover;
}
.photo img:hover{
    transform: scale(1.5);
    box-shadow: 0 8px 15px black;
}