body{
    background-color: #ccd3ce;
}
h1{
    font-size:40px;
    /*text-align: center;*/
}
hr{
    height:10px;
    background-color: black;
}
a{
    text-decoration: none;
    color:black
}
a:visited{
    color:black;
}
a:hover{
    color:blue;
}
.container{
    display:flex;
    gap:35px;
    align-items: center;
}
.container img{
    width:120px;
    height:120px;
    margin-left: 20px;
}
.headerText{
    margin-left: 5px;
    margin-top: 0px;
    float:left;
}
.hero-img{
    width:80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.welcome{
    padding-left:125px;
}
nav a{
    padding: 60px;
}
nav{
    text-align: center;
}