body{
    background-color: #d9dfdb;
}
h1{
    font-size:40px;
}
hr{
    height:10px;
    background-color: black;
}
a{
    text-decoration: none;
    color:black
}
a:visited{
    color:black;
}
a:hover{
    color:blue;
}
.container{
    display:flex;
    gap:35px;
    align-items: center;
}
.container img{
    width:120px;
    height:120px;
    margin-left: 20px;
}
.headerText{
    margin-left: 5px;
    margin-top: 0px;
    float:left;
}
.hero-img{
    width:80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.welcome{
    padding-left:125px;
}
nav a{
    padding: 60px;
}
nav{
    text-align: center;
}
main{
    padding-left:40px;
}
footer{
    padding-left:40px;
}
.portfolio{
    display:grid;
    grid-template-columns: auto auto auto;
    gap:2px;
}
.photo img{
    width:100%;
    height:auto;
    display:block;
    object-fit: cover;
    /*cursor: pointer;*/
}
.lightbox{
    position:fixed;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 9900;
}
.lightbox-active{
    visibility: visible;
    opacity:1;
}
.lightbox img{
    max-width: 85%;
    max-height: 85%;
    border-radius: 5px;
    box-shadow:0 0 20px rgba(250,250,250,0.5)
}