<nav>
    <a href="https://webpages.charlotte.edu/mmuruga2/">Charlotte.edu</a>
    |
    <a href="https://github.com/muhilmu-ctrl/muhilmu-ctrl.github.io">Github.com</a>
    |
    <a href="https://muhilmu-ctrl.github.io/">Github.io</a>
    |
    <a href="https://www.freecodecamp.org/muhilmu">freeCodeCamp</a>
    |
    <a href="https://www.codecademy.com/profiles/muhilmu">Codecademy</a>
    |
    <a href="https://www.linkedin.com/in/muhilan-muruganandam-77b049380/">LinkedIn</a>
</nav>
<p>Page Built by <a href="https://webpages.charlotte.edu/mmuruga2/itis3135/muruganandamsoftware.com/">Muruganandam Software</a> &copy; 2025</p>