<h1>Muhilan Muruganandam's Magnificent Meercat | ITIS3135</h1>
<nav>
    <a href="./">Home</a>
    |
    <a href="introduction.html">Introduction</a>
    |
    <a href="contract.html">Contract</a>
    |
    <a href="fccfsjs_outline.html">FCC FSJS</a>
</nav>
<nav>
    <a href="https://webpages.charlotte.edu/mmuruga2/itis3135/magnificent_meerkat/about.html">Magnificent Meerkat Industries</a>
    ||
    <a href="https://webpages.charlotte.edu/mmuruga2/itis3135/stuff/CRAPPY%20page!.htm">Crappy Site</a>
    ||
    <a href="https://webpages.charlotte.edu/mmuruga2/itis3135/website_evaluations/website_evaluations.html">Website Evaluations</a>
</nav>
